<div class="container">
  <h1>Edit Your Profile</h1>
  
  <%= render 'form' %>
  <br>
  <%= link_to 'Show', @developer_profile, class: "btn btn-primary" %> 
  <%= link_to 'Back', profile_path, class: "btn btn-primary" %>
</div>
<br><br>